.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px black;
}

.note{
    font-size: 20px;
    color: orange;
}

.copy_right_footer{
    color: black;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: darkorange;
    position: fixed;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}